<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <h3 class="widget-title">Contact Me</h3>
                <div class="widget-body">
                    <p>agrawhal [AT] gmail [DOT] com
                        <br>
                        bn
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <h3 class="widget-title">Follow me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        
                        
                        <a href="http://www.linkedin.com/in/gashwin"><i class="fa fa-linkedin fa-2"></i></a>
                    </p>
                </div>
            </div>
        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-left">
                        Copyright &copy 2015-2016, Mohini Agarwal<br>
                    </p>
                </div>
            </div>
            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a><br>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>
