<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <h3 class="widget-title">Contact Me</h3>
                <div class="widget-body">
                    <p>agrawhal [AT] gmail [DOT] com
                        <br>
                        ....
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <h3 class="widget-title">Follow me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        
                        
                        <a href="https://www.linkedin.com/profile/view?id=AAkAABENjboBhmGJBI2Hxgxx6YhBxr8SfAjMtX8&authType=NAME_SEARCH&authToken=SXV1&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A286100922%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1447367444224%2Ctas%3Aagar"><i class="fa fa-linkedin fa-2"></i></a>
                    </p>
                </div>
            </div>
        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-left">
                        Copyright &copy 2015-2016, Mohini Agarwal<br>
                    </p>
                </div>
            </div>
            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                    <!--    Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a><br>-->
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>
