<header id="header">
    <div id="head" class="parallax" parallax-speed="2" style="background-position: 50% -200px;">
        <h1 id="logo" class="text-center">
            <span class="title">Ashwinkumar Ganesan</span>
            <span class="tagline">Non Reluctant Conversationalist<br></span>
        </h1>
    </div>

    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/"><strong>Home</strong></a></li>
                    <li><a href="/research"><strong>Research</strong></a></li>
                    <li><a href="assets\files\ashwin_cv.pdf"><strong>CV</strong></a></li>
                    <li><a href="/contact"><strong>Contact Me</strong></a></li>
                    <li><a href="http://ashwinganesan.wordpress.com"><strong>Blog</strong></a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
